<div>
    <navbar></navbar>
    <form class="form ptop">
        <div class="form-group col-lg-4 col-lg-offset-4">
            <input type="text" class="form-control" placeholder="username (email)" ng-model="vm.userData.userName" />
            <input type="password" class="form-control" placeholder="password" ng-model="vm.userData.password" />
            <button type="submit" class="btn btn-primary" ng-click="vm.login()">Login</button>
            <a href="#!/register" class="btn btn-secondary" >Register</a>
        </div>
    </form>
</div>