<div class="col-lg-6 createElementScoreboard">
    <h4 style="text-align:center">{{vm.scoreboard.Name}}</h4>
    <!--<div ng-repeat="t in vm.textElements">
        <input class="form-control" id="label" placeholder="Label" ng-model="t.Label" />
    </div>
    <div style="width: 100%; height: 35px; cursor: pointer" class="glyphicon glyphicon-plus" ng-click="vm.addTextElement()"></div>-->
</div>
<div class="col-lg-6 createElement">
    <h4 style="text-align:center">Elements</h4>
    <!--<h4>Players</h4>
    <div ng-repeat="p in vm.playerElements">
        <input class="form-control" id="label" placeholder="Label" ng-model="p.Label" />
    </div>
    <div style="width: 100%; height: 35px; cursor: pointer" class="glyphicon glyphicon-plus" ng-click="vm.addPlayerElement()"></div>-->
</div>
<div class="col-lg-12">
    <div class="form-group">
        <input type="button" class="btn btn-secondary" ng-click="vm.returnToList()" value="Return To List" />
        <button type="submit" class="btn btn-primary" ng-click="vm.save()">Continue</button>
    </div>
</div>