.containerEditForm {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color: lightblue;
    border-radius: 20px;
}
.ptop {
    padding-top:60px;
}
.scoreboardContainer {
    margin: 10px;
    height: 300px;
    width: 100%;
    border-radius: 8px;
    padding: 0;
    overflow: hidden
}
.scoreboardContainer a{
    text-decoration:none;
}
.scoreboardTitle {
    width:100%;
    height:30px;
    background-color:lightblue;
}
.titleWord {
    margin: 5px;
    float: left;
    margin-left: 10px;
}
.titleIconContainer{
    width:25%;
    height:100%;
    margin-left:75%;
    padding:10px, 0;
    text-align:right;
}
.titleIcon {
    float:right;
    font-size:20px;
    margin:5px;
    margin-right:10px;
}
.scoreboardBody {
    width:100%;
    height: 270px;
    background-color: #cdcdcd;
}
.viewPanelBrowser {
    width: 100%;
    height: 100%;
    padding: 0;
}
.viewItemBackground{
    width:100%;
    height:100%;
    padding:0;
}
.viewItem{
    width:100%;
    height:100%;
    padding:0;
}
.viewItemTitle {
    background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0));
    text-align: center;
    width: 100%;
    height: 25%;
    color:white;
}
.viewItemBody{
    cursor: pointer;
    background-color:yellow;
    height:100%;
    width:100%;
}
.viewItemLeft {
    color: white;
    height: 75%;
    text-align: center;
    font-size: 20px;
    width: 20%;
    float: left;
    padding-top: 5%;
}
.viewItemCenter {
    color: white;
    height: 75%;
    text-align: center;
    font-size: 20px;
    width: 60%;
    float: left;
    padding-top:5%;
}
.viewItemRight {
    color: white;
    height: 75%;
    text-align: center;
    font-size: 20px;
    width: 20%;
    float: right;
    padding-top: 5%;
}
.viewItemBody:hover {
    background-color: black;
    background-color: rgba(0,0,0,.5);
}
#createGlyph{
    width:100%;
    height:100%;
    text-align:center;
    padding-top:15%;
    font-size:60px;
}
.fixedAspectRatioContainer {
    width: 100%;
    height:auto;
    padding-bottom: 56.25%;
    position: relative;
}
.board{
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    border:1px solid blue;
}
.styleEditPane {
    position:relative;
    width:100%;
    height: auto;
    padding:10px;
    margin:auto;
}
.createElement {
    height: 500px;
    background-color:white;
    outline: 1px dotted red;
}
.createElementScoreboard {
    height: 500px;
    background-color: white;
    outline: 1px dotted blue;
}