<div>
    <navbar></navbar>
    <div class="ptop">
            <div class="page-header"><h1 style="text-align:center">Scoreboards</h1></div>
            <div class="col-lg-12">                
                <div ng-repeat="s in vm.scoreboards" class="col-lg-4">
                    <div class="scoreboardContainer">
                        <div class="scoreboardTitle">
                            <h4 class="titleWord">{{s.Name}}</h4>
                            <div class="titleIconContainer">
                                <div style="cursor:pointer;" class="glyphicon glyphicon-remove titleIcon" ng-click="vm.remove(s.ScoreboardID)"></div>
                                <a class="glyphicon glyphicon-cog titleIcon" ui-sref="scoreboard.edit({ scoreboardId: s.ScoreboardID })" href></a>
                            </div>
                        </div>
                        <div class="scoreboardBody">
                            <div class="viewPanelBrowser">
                                <div class="viewItemBackground">
                                    <div ng-repeat="v in s.Views" class="viewItem">
                                        <div class="viewItemBody">
                                            <div class="viewItemTitle">{{v.Name}}</div>
                                            <div class="viewItemLeft">
                                                <div class="glyphicon glyphicon-chevron-left"></div>
                                            </div>
                                            <div class="viewItemCenter" ui-sref="scoreboard.view({ scoreboardId: s.ScoreboardID, viewId: v.ViewID })" href>
                                                <div class="glyphicon glyphicon-eye-open"></div>
                                            </div>
                                            <div class="viewItemRight">
                                                <div class="glyphicon glyphicon-chevron-right"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="scoreboardContainer">
                        <div class="scoreboardTitle">
                            <h4 style="text-align:center" class="titleWord">Create</h4>
                        </div>
                        <div class="scoreboardBody">
                            <a id="createGlyph" ui-sref="scoreboardCreate.basics" class="glyphicon glyphicon-plus" href=></a>
                        </div>
                    </div>
                </div>
            </div>
        <h4>{{vm.message}}</h4>
    </div>
</div>